/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&led_strip {
    chain-length = <27>;

    // 21 backlight + 6 glowlight
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp TAB     &kp B  &kp L  &kp D           &kp C  &kp V        &kp J          &kp Y  &kp O             &kp U     &kp COMMA   &kp DELETE
&kp ESCAPE  &kp N  &kp R  &kp T           &kp S  &kp G        &kp P          &kp H  &kp A             &kp E     &kp I       &kp ENTER
&kp LCTRL   &kp X  &kp Q  &kp M           &kp W  &kp Z        &kp K          &kp F  &kp SINGLE_QUOTE  &kp SEMI  &kp PERIOD  &kp GLOBE
                          &kp LEFT_SHIFT  &mo 1  &kp SPACE    &kp BACKSPACE  &mo 2  &kp LEFT_META
            >;
        };

        symbols {
            bindings = <
&kp TILDE   &kp EXCL  &kp AT  &kp HASH  &kp DLLR       &kp PRCNT           &kp CARET             &kp AMPS               &kp ASTRK        &kp MINUS  &kp EQUAL  &kp BSPC
&kp LSHIFT  &none     &none   &none     &none          &none               &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LBKT         &kp RBKT   &kp BSLH   &kp GRAVE
&kp LCTRL   &none     &none   &none     &kp LESS_THAN  &kp GREATER_THAN    &kp UNDER             &kp LEFT_BRACE         &kp RIGHT_BRACE  &kp COLON  &kp SLASH  &kp PLUS
                              &kp LGUI  &none          &kp SPACE           &kp BACKSPACE         &mo 3                  &kp RALT
            >;
        };

        navigation {
            bindings = <
&kp TAB    &kp N1  &kp N2  &kp N3    &kp N4          &kp N5            &kp N6    &kp N7    &kp N8    &kp N9     &kp N0  &kp BSPC
&none      &none   &none   &none     &none           &none             &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &none   &none
&kp LCTRL  &none   &none   &none     &none           &none             &none     &none     &none     &kp COLON  &none   &none
                           &kp LGUI  &kp LEFT_SHIFT  &kp LEFT_SHIFT    &none     &none     &kp RALT
            >;
        };

        media_bt {
            bindings = <
&kp TAB     &kp F1        &kp F2        &kp F3        &kp F4          &kp F5          &kp F6      &kp F7            &kp F8      &kp F9      &kp F10  &kp DEL
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4    &kp K_PREV  &kp K_PLAY_PAUSE  &kp K_MUTE  &kp K_NEXT  &trans   &sys_reset
&bl BL_TOG  &kp F11       &none         &none         &none           &none           &none       &none             &none       &kp F12     &trans   &kp GLOBE
                                        &kp LALT      &kp LEFT_SHIFT  &trans          &trans      &trans            &kp RALT
            >;
        };
    };
};
